@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);


.TblContainer {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    color: var(--tertiaryColor);
    text-align: center;
    height: 100%;
}

.tableMain {
    max-width: 100%;
    margin: auto;
    display: block;
    background-color: var(--quarternaryColor);
    border-collapse: collapse;
    max-height: 100%;
}
tbody{
    display: block;
    max-height: 100%;
    overflow: auto;
}
thead, tbody tr{
    display: table;
    table-layout: fixed;
    width: 100%;
}
th, td{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
tr:not(.headRow):hover {
    cursor: pointer;
    transition-duration: .3s;
    background-color: var(--secondaryColor);
    color:var(--quarternaryColor);
}

.headRow, .groupRow {
    font-weight: 500;
    background-color: var(--secondaryColor);
    color: var(--quarternaryColor);
}

.flex{
    display: flex;
}
.hidden{
    display: none;
}
.primary{
    text-align: left;
}
.headCell {
    font-size: large;
    padding: 5px;
    margin: auto;
}

.tableRowCell {
    font-size: medium;
    font-weight: 600;
    border-top: 1px solid var(--secondaryColor);
    padding: 15px;
}

.pg-btn {
    font-size: large;
    margin: .5rem;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.pg-btn.active {
    color: var(--tertiaryColor);

}