.profile-container {
    background-color: var(--dark-color);
    padding: 10px;
    border-radius: 5px;
    font-family: var(--defaultFont);
    height: 100%;
    overflow-y: scroll;
}

.profile-container-header {
    color: var(--text-color);
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}





.profile-details-group {
    margin: auto;
    min-width: 45%;
    height: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 15px;
}

.profile-details-group-header {
    align-self: center;
    text-align: center;
    font-size: large;
    font-weight: 500;
    background-color: var(--accent-color);
    border-radius: 4px;
    color: var(--text-color);
    width: 100%;
}

.profile-details-group-content {
    color: var(--text-color);
}

@media screen and (max-width:500px){
    .profile-container-header{
        font-size: 16px;
    }
    .profile-details-group-header{
        font-size: 14px;
    }
    .profile-details-group-content{
        font-size: 12px;
    }
}