.login {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: var(--text-color);
}

.login-container p {
    font-size: 25px;
    margin: 40px 80px 20px 80px;
    font-weight: 400;
    color: var(--text-color);
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
    width: 75%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    width: 100%;

}

.form-group label {
    font-size: small;
    display: flex;
}

.form-group input[type="password"]::placeholder,
.form-group input[type="text"]::placeholder {
    opacity: .9;
    font-family: 'Montserrat', sans-serif;
}

.form-group input[type="password"],
.form-group input[type="text"] {
    padding: 3px;
    border-radius: 3px;
    outline: none;
    border: 1px solid transparent;
    margin: 4px auto;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.form-group input[type="password"]:focus,
.form-group input[type="text"]:focus {
    border: 1px solid transparent;
    border: 1px solid var(--primary-color);
    transition-duration: .5s;
}

.login-container form button[type="submit"] {
    background-color: var(--secondary-color);
    color: var(--text-color);
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 6px 9px;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    width: 100%;
    background-color: var(--primary-color);
    cursor: pointer;
}

.login-container form button[type="submit"]:hover{
    transition-duration: .3s;
}