.classbooks-container{
    overflow-y: scroll;
    max-height: 100%;
}

.subject-container {
    margin-bottom: 20px;
}

.subject-title {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.class-card {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.class-link {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.class-link:hover {
    background-color: var(--secondary-color);
}