.action-btn {
    display: flex;
    align-items: center;
    color: var(--text-color);
    background-color: var(--secondary-color);
    font-size: larger;
    border-radius: 2px;
}

.action-btn a {
    margin: auto;
    text-decoration: none;
    color: var(--text-color);
}

.action-btn:hover {
    transition-duration: .2s;
    background-color: var(--btnHoverColor);
}