.hidden {
    display: none;
}

.background-frame {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
}
.modal-close-btn{
    height:fit-content;
    cursor: pointer;
    font-weight: 500;
    color: var(--secondary-color)
}
.modal-frame {
    display: flex;
    margin: auto;
    border-radius: 5px;
    padding: 15px;
    background-color: var(--bg-color);
    color: var(--text-color);
}