.topbar-container {
    position: absolute;
    left: 12%;
    transition-property: left;
    transition-duration: .5s;
    color: white;
    background-color: var(--dark-color);
    right: 0;
    padding: 0;

    justify-content: space-between;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.topbarmenu {
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 25%;
}

.topbarmenu>li {
    margin: auto;
}
.module-li{
    width: 50%;
}
.sidemenubtn {
    margin: 0;
    min-height: 60px;
    min-width: 60px;
    padding: 15px;
    margin-left: 2px;
    cursor: pointer;
}

.sidemenubtn:hover {
    transition-duration: .2s;
    fill: var(--secondary-color);
}

.fullbar {
    left: 0 !important;
    transition-duration: .5s;
}

@media screen and (max-width:500px){
    .topbarmenu{
        width: 75% !important;
    }
    .sidemenubtn{
        min-height: 15px;
        min-width: 15px;
        padding: 0;
    }
    
}