.btn{
    display: flex;
    align-items: center;
    color: var(--textColor);
    background-color: var(--secondaryColor);
    font-size: larger;
    border-radius: 2px;
}
.btn a{
    margin: auto;
    text-decoration: none;
    color: var(--textColor);
}
.btn:hover{
    transition-duration: .2s;
    background-color: var(--btnHoverColor);
}