@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);


.themeBtns{
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    width: fit-content;
}

.icon{
    color:var(--textColor);
}

.container {
    font-family: 'Montserrat', sans-serif;
    transition-duration: .5s;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 12%;
    background-color: var(--secondaryColor);
    border-right: 1px solid var(--borderColor);
    animation: slideRight .5s;
    z-index: 1;
}

.navmenu {
    display: flex;
    height: 50%;
    flex-direction: column;
    margin: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    list-style-type: none;
    padding: 0;
    align-items: center;
}

.navmenu>li>a {
    color: var(--textColor);
    padding: 20px;
}

.navmenu>li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: medium;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.navmenu>li>a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 5px 8px;
}

.navmenu>li>a:hover {
    transition-duration: .5s;
    background-color: var(--borderColor);
}

.active{
    background-color: var(--borderColor);
}

.logo {
    font-size: x-large;
    font-weight: 400;
    align-self: flex-start;
    margin-top: 0;
    color: var(--textColor);
    text-align: center;
    margin: 20px auto;
}

.hide {
    animation: slideLeft .5s forwards;
}

@keyframes slideRight {
    from{
        left:-450px;
    }
    to{
        left:0px;
    }
}

@keyframes slideLeft {
    from{
        left:0px;
    }
    to{left: -450px;}
}